In [1]:
import pandas as pd
from pandas import DataFrame, Series
import numpy as np
from pandasql import sqldf

In [2]:
pysqldf = lambda q:sqldf(q, globals())       # Global is used for global access. Create an enviroment to run sql functions

### Read the following data set:
https://archive.ics.uci.edu/ml/machine-learning-databases/adult/

#### Create a sql db from adult dataset and name it sqladb

In [16]:
import requests
from io import StringIO

#u1 = 'https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data'
#r1 = requests.get(u1, verify=False)
#user_data = pd.read_csv(StringIO(r1.text), header=None)

sqladb = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data", header=None)

In [17]:
sqladb.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

### Rename the columns as per the description from this file:
https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.names

In [18]:
user_columns = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.names",delimiter=":", skiprows=96, header=None); user_columns

                 0                                                  1
0              age                                        continuous.
1        workclass   Private, Self-emp-not-inc, Self-emp-inc, Fede...
2           fnlwgt                                        continuous.
3        education   Bachelors, Some-college, 11th, HS-grad, Prof-...
4    education-num                                        continuous.
5   marital-status   Married-civ-spouse, Divorced, Never-married, ...
6       occupation   Tech-support, Craft-repair, Other-service, Sa...
7     relationship   Wife, Own-child, Husband, Not-in-family, Othe...
8             race   White, Asian-Pac-Islander, Amer-Indian-Eskimo...
9              sex                                      Female, Male.
10    capital-gain                                        continuous.
11    capital-loss                                        continuous.
12  hours-per-week                                        continuous.
13  native-country   United-States, Cambodia, England, Puerto-Rico...

In [19]:
# the Data has 15 columns and the columns described are only 14
# So temporatiy add a column name
user_columns.append(pd.Series(["Range", "NA"]), ignore_index=True)[0]

0                age
1          workclass
2             fnlwgt
3          education
4      education-num
5     marital-status
6         occupation
7       relationship
8               race
9                sex
10      capital-gain
11      capital-loss
12    hours-per-week
13    native-country
14             Range
Name: 0, dtype: object

In [20]:
sqladb.columns = user_columns.append(pd.Series(["Range", "NA"]), ignore_index=True)[0]

#### Select 10 records from the adult sqladb

In [22]:
pysqldf("select * from sqladb limit 10")

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,Range
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K

In [21]:
sqladb.head(10)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,Range
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K

### 2.Show me the average hours per week of all men who are working in private sector

In [27]:
pysqldf('Select workclass, avg("hours-per-week") from sqladb group by workclass having workclass = " Private"')

  workclass  avg("hours-per-week")
0   Private              40.267096

### Show me the frequency table for education, occupation and relationship, separately

In [28]:
pysqldf("Select education, count(*) from sqladb group by education")

        education  count(*)
0            10th       933
1            11th      1175
2            12th       433
3         1st-4th       168
4         5th-6th       333
5         7th-8th       646
6             9th       514
7      Assoc-acdm      1067
8       Assoc-voc      1382
9       Bachelors      5355
10      Doctorate       413
11        HS-grad     10501
12        Masters      1723
13      Preschool        51
14    Prof-school       576
15   Some-college      7291

In [29]:
pysqldf("Select occupation, count(*) from sqladb group by occupation")

            occupation  count(*)
0                    ?      1843
1         Adm-clerical      3770
2         Armed-Forces         9
3         Craft-repair      4099
4      Exec-managerial      4066
5      Farming-fishing       994
6    Handlers-cleaners      1370
7    Machine-op-inspct      2002
8        Other-service      3295
9      Priv-house-serv       149
10      Prof-specialty      4140
11     Protective-serv       649
12               Sales      3650
13        Tech-support       928
14    Transport-moving      1597

In [30]:
pysqldf("Select relationship, count(*) from sqladb group by relationship")

      relationship  count(*)
0          Husband     13193
1    Not-in-family      8305
2   Other-relative       981
3        Own-child      5068
4        Unmarried      3446
5             Wife      1568

### Are there any people who are married, working in private sector and having a master’s degree

In [31]:
pysqldf('Select "marital-status", count(*) from sqladb group by "marital-status"')

           marital-status  count(*)
0                Divorced      4443
1       Married-AF-spouse        23
2      Married-civ-spouse     14976
3   Married-spouse-absent       418
4           Never-married     10683
5               Separated      1025
6                 Widowed       993

In [32]:
pysqldf('Select * from sqladb  \
         where "marital-status" like (" Married%")\
           and workclass = " Private" \
           and education = " Masters"')

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,Range
0,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
1,33,Private,202051,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K
2,76,Private,124191,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
3,31,Private,99928,Masters,14,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,50,United-States,<=50K
4,35,Private,138992,Masters,14,Married-civ-spouse,Prof-specialty,Other-relative,White,Male,7298,0,40,United-States,>50K
5,34,Private,142897,Masters,14,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,7298,0,35,Taiwan,>50K
6,62,Private,270092,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,>50K
7,41,Private,445382,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,1977,65,United-States,>50K
8,33,Private,208405,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,>50K
9,49,Private,192776,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,1977,45,United-States,>50K
10,51,Private,410114,Masters,14,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,>50K
11,31,Private,118710,Masters,14,Married-civ-spouse,Tech-support,Husband,White,Male,0,1902,40,United-States,>50K
12,34,Private,73585,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,?,<=50K
13,40,Private,170108,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K
14,43,Private,158926,Masters,14,Married-civ-spouse,Prof-specialty,Wife,Asian-Pac-Islander,Female,0,0,50,South,<=50K
15,51,Private,138022,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K
16,43,Private,227065,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,43,United-States,>50K
17,38,Private,173208,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,25,United-States,<=50K
18,33,Private,354573,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,15024,0,44,United-States,>50K
19,25,Private,404616,Masters,14,Married-civ-spouse,Farming-fishing,Not-in-family,White,Male,0,0,99,United-States,>50K
20,59,Private,151616,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,55,United-States,<=50K
21,38,Private,22245,Masters,14,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,72,?,>50K
22,46,Private,279661,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Black,Male,0,0,35,United-States,<=50K
23,57,Private,89392,Masters,14,Married-spouse-absent,Prof-specialty,Not-in-family,White,Female,0,0,40,United-States,<=50K
24,65,Private,198766,Masters,14,Married-civ-spouse,Sales,Husband,White,Male,20051,0,40,United-States,>50K
25,55,Private,98361,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,15024,0,50,?,>50K
26,45,Private,46406,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,36,England,>50K
27,48,Private,126754,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,15024,0,40,United-States,>50K
28,54,Private,177927,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,<=50K
29,43,Private,201723,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,1902,40,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
510,23,Private,143003,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,1887,50,India,>50K
511,50,Private,201882,Masters,14,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,30,United-States,<=50K
512,44,Private,267717,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,42,United-States,>50K
513,30,Private,182771,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,United-States,>50K
514,39,Private,198841,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,7688,0,45,United-States,>50K
515,53,Private,53197,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,3103,0,40,United-States,>50K
516,55,Private,70088,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,>50K
517,36,Private,199346,Masters,14,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,50,United-States,>50K
518,30,Private,378009,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,>50K
519,35,Private,75855,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Black,Male,7298,0,40,?,>50K
520,59,Private,59469,Masters,14,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,Iran,<=50K
521,39,Private,72338,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,Philippines,>50K
522,50,Private,176157,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,>50K
523,30,Private,341051,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,15024,0,60,United-States,>50K
524,43,Private,346321,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,45,United-States,>50K
525,47,Private,155664,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,99999,0,55,United-States,>50K
526,48,Private,379883,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,Cuba,>50K
527,49,Private,123681,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,43,United-States,>50K
528,43,Private,174295,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,55,United-States,<=50K
529,32,Private,313835,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,>50K
530,40,Private,137225,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
531,25,Private,178025,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K
532,31,Private,183801,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,1902,43,United-States,>50K
533,61,Private,232719,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K
534,41,Private,122215,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,15024,0,40,United-States,>50K
535,33,Private,139057,Masters,14,Married-civ-spouse,Tech-support,Husband,Asian-Pac-Islander,Male,0,0,50,United-States,>50K
536,34,Private,30673,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,55,United-States,<=50K
537,41,Private,201495,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
538,46,Private,42972,Masters,14,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,22,United-States,>50K
539,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K

### What is the average, minimum and maximum age group for people working in different sectors

In [53]:
pysqldf('Select workclass, avg(age), min(age), max(age) from user_data group by workclass')

           workclass   avg(age)  min(age)  max(age)
0                  ?  40.960240        17        90
1        Federal-gov  42.590625        17        90
2          Local-gov  41.751075        17        90
3       Never-worked  20.571429        17        30
4            Private  36.797585        17        90
5       Self-emp-inc  46.017025        17        84
6   Self-emp-not-inc  44.969697        17        90
7          State-gov  39.436055        17        81
8        Without-pay  47.785714        19        72

### Calculate age distribution by country

In [61]:
pysqldf('Select "native-country",age, count(*) as "Count" from user_data group by "native-country", age')

     native-country  age  Count
0                 ?   17      2
1                 ?   18      8
2                 ?   19      5
3                 ?   20     10
4                 ?   21     11
5                 ?   22     12
6                 ?   23      6
7                 ?   24     14
8                 ?   25     11
9                 ?   26     18
10                ?   27     15
11                ?   28     19
12                ?   29     12
13                ?   30     19
14                ?   31     18
15                ?   32     17
16                ?   33     13
17                ?   34     24
18                ?   35     18
19                ?   36     23
20                ?   37     22
21                ?   38     20
22                ?   39     19
23                ?   40     12
24                ?   41     22
25                ?   42     24
26                ?   43     14
27                ?   44     10
28                ?   45     17
29                ?   46     15
...             ...  ...    ...
1251        Vietnam   37      2
1252        Vietnam   38      1
1253        Vietnam   40      1
1254        Vietnam   41      1
1255        Vietnam   43      2
1256        Vietnam   44      3
1257        Vietnam   45      3
1258        Vietnam   46      1
1259        Vietnam   48      1
1260        Vietnam   50      1
1261        Vietnam   51      1
1262        Vietnam   52      1
1263        Vietnam   53      1
1264        Vietnam   54      1
1265        Vietnam   63      1
1266        Vietnam   70      1
1267        Vietnam   73      2
1268     Yugoslavia   20      1
1269     Yugoslavia   22      1
1270     Yugoslavia   25      1
1271     Yugoslavia   29      1
1272     Yugoslavia   31      1
1273     Yugoslavia   35      2
1274     Yugoslavia   36      1
1275     Yugoslavia   40      1
1276     Yugoslavia   41      2
1277     Yugoslavia   43      1
1278     Yugoslavia   45      1
1279     Yugoslavia   56      2
1280     Yugoslavia   66      1

[1281 rows x 3 columns]

### Compute a new column as 'Net-Capital-Gain' from the two columns 'capital-gain' and 'capital-loss'

In [57]:
user_data["Net-Capital-Gain"] = pysqldf('Select "capital-gain"-"capital-loss" as "Net-Capital-Gain" from user_data ')

In [58]:
user_data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,Range,Net-Capital-Gain
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,2174
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,0
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,0
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,0
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,0

### Problem statement 2:

Read the following data set:<br>
https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data

In [135]:
import requests
from io import StringIO

u1 = 'https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data'
r1 = requests.get(u1, verify=False)
adult_data = pd.read_csv(StringIO(r1.text), header=None)

E:\Anaconda3\lib\site-packages\urllib3\connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

In [136]:
adult_data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [137]:
# Append column names to the table for ease of execution
adult_data.columns = user_columns.append(pd.Series(['NA','NA']), ignore_index=True)[0]

### 1. Create an sqlalchemy engine using a sample from the data set

In [139]:
from sqlalchemy import create_engine

In [140]:
engine = create_engine('sqlite://')

In [141]:
adult_data.to_sql('user_data', con=engine)      # here user_data is the table name associated with the DataFrame

### 2. Write two basic update queries

In [124]:
sql = 'update user_data set "native-country" = " USA" where "native-country" = " United-States"'
with engine.begin() as conn:
    conn.execute(sql)
    
engine.execute('select * from user_data limit 10').fetchall()

[(0, 39, ' State-gov', 77516, ' Bachelors', 13, ' Never-married', ' Adm-clerical', ' Not-in-family', ' White', ' Male', 2174, 0, 40, ' USA', ' <=50K'),
 (1, 50, ' Self-emp-not-inc', 83311, ' Bachelors', 13, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 0, 13, ' USA', ' <=50K'),
 (2, 38, ' Private', 215646, ' HS-grad', 9, ' Divorced', ' Handlers-cleaners', ' Not-in-family', ' White', ' Male', 0, 0, 40, ' USA', ' <=50K'),
 (3, 53, ' Private', 234721, ' 11th', 7, ' Married-civ-spouse', ' Handlers-cleaners', ' Husband', ' Black', ' Male', 0, 0, 40, ' USA', ' <=50K'),
 (4, 28, ' Private', 338409, ' Bachelors', 13, ' Married-civ-spouse', ' Prof-specialty', ' Wife', ' Black', ' Female', 0, 0, 40, ' Cuba', ' <=50K'),
 (5, 37, ' Private', 284582, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Wife', ' White', ' Female', 0, 0, 40, ' USA', ' <=50K'),
 (6, 49, ' Private', 160187, ' 9th', 5, ' Married-spouse-absent', ' Other-service', ' Not-in-family', ' Black', ' Female', 0, 0, 16, ' Jamaica', ' <=50K'),
 (7, 52, ' Self-emp-not-inc', 209642, ' HS-grad', 9, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 0, 45, ' USA', ' >50K'),
 (8, 31, ' Private', 45781, ' Masters', 14, ' Never-married', ' Prof-specialty', ' Not-in-family', ' White', ' Female', 14084, 0, 50, ' USA', ' >50K'),
 (9, 42, ' Private', 159449, ' Bachelors', 13, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 5178, 0, 40, ' USA', ' >50K')]

In [129]:
sql = 'update user_data set NA = "less than 50K" where NA = " <=50K"'
with engine.begin() as conn:
    conn.execute(sql)
    
engine.execute('select * from user_data limit 10').fetchall()

[(0, 39, ' State-gov', 77516, ' Bachelors', 13, ' Never-married', ' Adm-clerical', ' Not-in-family', ' White', ' Male', 2174, 0, 40, ' USA', 'less than 50K'),
 (1, 50, ' Self-emp-not-inc', 83311, ' Bachelors', 13, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 0, 13, ' USA', 'less than 50K'),
 (2, 38, ' Private', 215646, ' HS-grad', 9, ' Divorced', ' Handlers-cleaners', ' Not-in-family', ' White', ' Male', 0, 0, 40, ' USA', 'less than 50K'),
 (3, 53, ' Private', 234721, ' 11th', 7, ' Married-civ-spouse', ' Handlers-cleaners', ' Husband', ' Black', ' Male', 0, 0, 40, ' USA', 'less than 50K'),
 (4, 28, ' Private', 338409, ' Bachelors', 13, ' Married-civ-spouse', ' Prof-specialty', ' Wife', ' Black', ' Female', 0, 0, 40, ' Cuba', 'less than 50K'),
 (5, 37, ' Private', 284582, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Wife', ' White', ' Female', 0, 0, 40, ' USA', 'less than 50K'),
 (6, 49, ' Private', 160187, ' 9th', 5, ' Married-spouse-absent', ' Other-service', ' Not-in-family', ' Black', ' Female', 0, 0, 16, ' Jamaica', 'less than 50K'),
 (7, 52, ' Self-emp-not-inc', 209642, ' HS-grad', 9, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 0, 45, ' USA', ' >50K'),
 (8, 31, ' Private', 45781, ' Masters', 14, ' Never-married', ' Prof-specialty', ' Not-in-family', ' White', ' Female', 14084, 0, 50, ' USA', ' >50K'),
 (9, 42, ' Private', 159449, ' Bachelors', 13, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 5178, 0, 40, ' USA', ' >50K')]

### 3. Write two delete queries

In [132]:
sql = 'delete from user_data where NA = "less than 50K"'
with engine.begin() as conn:
    conn.execute(sql)
    
engine.execute('select * from user_data where NA = "less than 50K"').fetchall()

[]

In [133]:
sql = 'delete from user_data where sex = " Male"'
with engine.begin() as conn:
    conn.execute(sql)
    
engine.execute('select * from user_data where sex = " Male"').fetchall()

[]

### 4. Write two filter queries

In [130]:
engine.execute('select * from user_data where sex = " Male"').fetchall()

[(0, 39, ' State-gov', 77516, ' Bachelors', 13, ' Never-married', ' Adm-clerical', ' Not-in-family', ' White', ' Male', 2174, 0, 40, ' USA', 'less than 50K'),
 (1, 50, ' Self-emp-not-inc', 83311, ' Bachelors', 13, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 0, 13, ' USA', 'less than 50K'),
 (2, 38, ' Private', 215646, ' HS-grad', 9, ' Divorced', ' Handlers-cleaners', ' Not-in-family', ' White', ' Male', 0, 0, 40, ' USA', 'less than 50K'),
 (3, 53, ' Private', 234721, ' 11th', 7, ' Married-civ-spouse', ' Handlers-cleaners', ' Husband', ' Black', ' Male', 0, 0, 40, ' USA', 'less than 50K'),
 (7, 52, ' Self-emp-not-inc', 209642, ' HS-grad', 9, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 0, 45, ' USA', ' >50K'),
 (9, 42, ' Private', 159449, ' Bachelors', 13, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 5178, 0, 40, ' USA', ' >50K'),
 (10, 37, ' Private', 280464, ' Some-college', 10, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' Black', ' Male', 0, 0, 80, ' USA', ' >50K'),
 (11, 30, ' State-gov', 141297, ' Bachelors', 13, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' Asian-Pac-Islander', ' Male', 0, 0, 40, ' India', ' >50K'),
 (13, 32, ' Private', 205019, ' Assoc-acdm', 12, ' Never-married', ' Sales', ' Not-in-family', ' Black', ' Male', 0, 0, 50, ' USA', 'less than 50K'),
 (14, 40, ' Private', 121772, ' Assoc-voc', 11, ' Married-civ-spouse', ' Craft-repair', ' Husband', ' Asian-Pac-Islander', ' Male', 0, 0, 40, ' ?', ' >50K'),
 (15, 34, ' Private', 245487, ' 7th-8th', 4, ' Married-civ-spouse', ' Transport-moving', ' Husband', ' Amer-Indian-Eskimo', ' Male', 0, 0, 45, ' Mexico', 'less than 50K'),
 (16, 25, ' Self-emp-not-inc', 176756, ' HS-grad', 9, ' Never-married', ' Farming-fishing', ' Own-child', ' White', ' Male', 0, 0, 35, ' USA', 'less than 50K'),
 (17, 32, ' Private', 186824, ' HS-grad', 9, ' Never-married', ' Machine-op-inspct', ' Unmarried', ' White', ' Male', 0, 0, 40, ' USA', 'less than 50K'),
 (18, 38, ' Private', 28887, ' 11th', 7, ' Married-civ-spouse', ' Sales', ' Husband', ' White', ' Male', 0, 0, 50, ' USA', 'less than 50K'),
 (20, 40, ' Private', 193524, ' Doctorate', 16, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 0, 0, 60, ' USA', ' >50K'),
 (22, 35, ' Federal-gov', 76845, ' 9th', 5, ' Married-civ-spouse', ' Farming-fishing', ' Husband', ' Black', ' Male', 0, 0, 40, ' USA', 'less than 50K'),
 (23, 43, ' Private', 117037, ' 11th', 7, ' Married-civ-spouse', ' Transport-moving', ' Husband', ' White', ' Male', 0, 2042, 40, ' USA', 'less than 50K'),
 (25, 56, ' Local-gov', 216851, ' Bachelors', 13, ' Married-civ-spouse', ' Tech-support', ' Husband', ' White', ' Male', 0, 0, 40, ' USA', ' >50K'),
 (26, 19, ' Private', 168294, ' HS-grad', 9, ' Never-married', ' Craft-repair', ' Own-child', ' White', ' Male', 0, 0, 40, ' USA', 'less than 50K'),
 (27, 54, ' ?', 180211, ' Some-college', 10, ' Married-civ-spouse', ' ?', ' Husband', ' Asian-Pac-Islander', ' Male', 0, 0, 60, ' South', ' >50K'),
 (28, 39, ' Private', 367260, ' HS-grad', 9, ' Divorced', ' Exec-managerial', ' Not-in-family', ' White', ' Male', 0, 0, 80, ' USA', 'less than 50K'),
 (29, 49, ' Private', 193366, ' HS-grad', 9, ' Married-civ-spouse', ' Craft-repair', ' Husband', ' White', ' Male', 0, 0, 40, ' USA', 'less than 50K'),
 (30, 23, ' Local-gov', 190709, ' Assoc-acdm', 12, ' Never-married', ' Protective-serv', ' Not-in-family', ' White', ' Male', 0, 0, 52, ' USA', 'less than 50K'),
 (31, 20, ' Private', 266015, ' Some-college', 10, ' Never-married', ' Sales', ' Own-child', ' Black', ' Male', 0, 0, 44, ' USA', 'less than 50K'),
 (32, 45, ' Private', 386940, ' Bachelors', 13, ' Divorced', ' Exec-managerial', ' Own-child', ' White', ' Male', 0, 1408, 40, ' USA', 'less than 50K'),
 (33, 30, ' Federal-gov', 59951, ' Some-college', 10, ' Married-civ-spouse', ' Adm-clerical', ' Own-child', ' White', ' Male', 0, 0, 40, ' USA', 'less than 50K'),
 (34, 22, ' State-gov', 311512, ' Some-college', 10, ' Married-civ-spouse', ' Other-service', ' Husband', ' Black', ' Male', 0, 0, 15, ' USA', 'less than 50K'),
 (35, 48, ' Private', 242406, ' 11th', 7, ' Never-married', ' Machine-op-inspct', ' Unmarried', ' White', ' Male', 0, 0, 40, ' Puerto-Rico', 'less than 50K'),
 (36, 21, ' Private', 197200, ' Some-college', 10, ' Never-married', ' Machine-op-inspct', ' Own-child', ' White', ' Male', 0, 0, 40, ' USA', 'less than 50K'),
 (38, 31, ' Private', 84154, ' Some-college', 10, ' Married-civ-spouse', ' Sales', ' Husband', ' White', ' Male', 0, 0, 38, ' ?', ' >50K'),
 (39, 48, ' Self-emp-not-inc', 265477, ' Assoc-acdm', 12, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 0, 0, 40, ' USA', 'less than 50K'),
 (40, 31, ' Private', 507875, ' 9th', 5, ' Married-civ-spouse', ' Machine-op-inspct', ' Husband', ' White', ' Male', 0, 0, 43, ' USA', 'less than 50K'),
 (41, 53, ' Self-emp-not-inc', 88506, ' Bachelors', 13, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 0, 0, 40, ' USA', 'less than 50K'),
 (42, 24, ' Private', 172987, ' Bachelors', 13, ' Married-civ-spouse', ' Tech-support', ' Husband', ' White', ' Male', 0, 0, 50, ' USA', 'less than 50K'),
 (44, 25, ' Private', 289980, ' HS-grad', 9, ' Never-married', ' Handlers-cleaners', ' Not-in-family', ' White', ' Male', 0, 0, 35, ' USA', 'less than 50K'),
 (45, 57, ' Federal-gov', 337895, ' Bachelors', 13, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' Black', ' Male', 0, 0, 40, ' USA', ' >50K'),
 (46, 53, ' Private', 144361, ' HS-grad', 9, ' Married-civ-spouse', ' Machine-op-inspct', ' Husband', ' White', ' Male', 0, 0, 38, ' USA', 'less than 50K'),
 (48, 41, ' State-gov', 101603, ' Assoc-voc', 11, ' Married-civ-spouse', ' Craft-repair', ' Husband', ' White', ' Male', 0, 0, 40, ' USA', 'less than 50K'),
 (49, 29, ' Private', 271466, ' Assoc-voc', 11, ' Never-married', ' Prof-specialty', ' Not-in-family', ' White', ' Male', 0, 0, 43, ' USA', 'less than 50K'),
 (53, 50, ' Federal-gov', 251585, ' Bachelors', 13, ' Divorced', ' Exec-managerial', ' Not-in-family', ' White', ' Male', 0, 0, 55, ' USA', ' >50K'),
 (54, 47, ' Self-emp-inc', 109832, ' HS-grad', 9, ' Divorced', ' Exec-managerial', ' Not-in-family', ' White', ' Male', 0, 0, 60, ' USA', 'less than 50K'),
 (55, 43, ' Private', 237993, ' Some-college', 10, ' Married-civ-spouse', ' Tech-support', ' Husband', ' White', ' Male', 0, 0, 40, ' USA', ' >50K'),
 (56, 46, ' Private', 216666, ' 5th-6th', 3, ' Married-civ-spouse', ' Machine-op-inspct', ' Husband', ' White', ' Male', 0, 0, 40, ' Mexico', 'less than 50K'),
 (57, 35, ' Private', 56352, ' Assoc-voc', 11, ' Married-civ-spouse', ' Other-service', ' Husband', ' White', ' Male', 0, 0, 40, ' Puerto-Rico', 'less than 50K'),
 (58, 41, ' Private', 147372, ' HS-grad', 9, ' Married-civ-spouse', ' Adm-clerical', ' Husband', ' White', ' Male', 0, 0, 48, ' USA', 'less than 50K'),
 (59, 30, ' Private', 188146, ' HS-grad', 9, ' Married-civ-spouse', ' Machine-op-inspct', ' Husband', ' White', ' Male', 5013, 0, 40, ' USA', 'less than 50K'),
 (60, 30, ' Private', 59496, ' Bachelors', 13, ' Married-civ-spouse', ' Sales', ' Husband', ' White', ' Male', 2407, 0, 40, ' USA', 'less than 50K'),
 (61, 32, ' ?', 293936, ' 7th-8th', 4, ' Married-spouse-absent', ' ?', ' Not-in-family', ' White', ' Male', 0, 0, 40, ' ?', 'less than 50K'),
 (62, 48, ' Private', 149640, ' HS-grad', 9, ' Married-civ-spouse', ' Transport-moving', ' Husband', ' White', ' Male', 0, 0, 40, ' USA', 'less than 50K'),
 (63, 42, ' Private', 116632, ' Doctorate', 16, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 0, 0, 45, ' USA', ' >50K'),
 (64, 29, ' Private', 105598, ' Some-college', 10, ' Divorced', ' Tech-support', ' Not-in-family', ' White', ' Male', 0, 0, 58, ' USA', 'less than 50K'),
 (65, 36, ' Private', 155537, ' HS-grad', 9, ' Married-civ-spouse', ' Craft-repair', ' Husband', ' White', ' Male', 0, 0, 40, ' USA', 'less than 50K'),
 (68, 49, ' Self-emp-inc', 191681, ' Some-college', 10, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 0, 50, ' USA', ' >50K'),
 (69, 25, ' ?', 200681, ' Some-college', 10, ' Never-married', ' ?', ' Own-child', ' White', ' Male', 0, 0, 40, ' USA', 'less than 50K'),
 (70, 19, ' Private', 101509, ' Some-college', 10, ' Never-married', ' Prof-specialty', ' Own-child', ' White', ' Male', 0, 0, 32, ' USA', 'less than 50K'),
 (72, 29, ' Self-emp-not-inc', 162298, ' Bachelors', 13, ' Married-civ-spouse', ' Sales', ' Husband', ' White', ' Male', 0, 0, 70, ' USA', ' >50K'),
 (73, 23, ' Private', 211678, ' Some-college', 10, ' Never-married', ' Machine-op-inspct', ' Not-in-family', ' White', ' Male', 0, 0, 40, ' USA', 'less than 50K'),
 (74, 79, ' Private', 124744, ' Some-college', 10, ' Married-civ-spouse', ' Prof-specialty', ' Other-relative', ' White', ' Male', 0, 0, 20, ' USA', 'less than 50K'),
 (75, 27, ' Private', 213921, ' HS-grad', 9, ' Never-married', ' Other-service', ' Own-child', ' White', ' Male', 0, 0, 40, ' Mexico', 'less than 50K'),
 (76, 40, ' Private', 32214, ' Assoc-acdm', 12, ' Married-civ-spouse', ' Adm-clerical', ' Husband', ' White', ' Male', 0, 0, 40, ' USA', 'less than 50K'),
 (77, 67, ' ?', 212759, ' 10th', 6, ' Married-civ-spouse', ' ?', ' Husband', ' White', ' Male', 0, 0, 2, ' USA', 'less than 50K'),
 (79, 31, ' Local-gov', 125927, ' 7th-8th', 4, ' Married-civ-spouse', ' Farming-fishing', ' Husband', ' White', ' Male', 0, 0, 40, ' USA', 'less than 50K'),
 (80, 18, ' Private', 446839, ' HS-grad', 9, ' Never-married', ' Sales', ' Not-in-family', ' White', ' Male', 0, 0, 30, ' USA', 'less than 50K'),
 (81, 52, ' Private', 276515, ' Bachelors', 13, ' Married-civ-spouse', ' Other-service', ' Husband', ' White', ' Male', 0, 0, 40, ' Cuba', 'less than 50K'),
 (83, 59, ' Private', 159937, ' HS-grad', 9, ' Married-civ-spouse', ' Sales', ' Husband', ' White', ' Male', 0, 0, 48, ' USA', 'less than 50K'),
 (86, 49, ' Local-gov', 268234, ' HS-grad', 9, ' Married-civ-spouse', ' Protective-serv', ' Husband', ' White', ' Male', 0, 0, 40, ' USA', ' >50K'),
 (87, 33, ' Private', 202051, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 0, 0, 50, ' USA', 'less than 50K'),
 (88, 30, ' Private', 54334, ' 9th', 5, ' Never-married', ' Sales', ' Not-in-family', ' White', ' Male', 0, 0, 40, ' USA', 'less than 50K'),
 (90, 57, ' Private', 249977, ' Assoc-voc', 11, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 0, 0, 40, ' USA', 'less than 50K'),
 (94, 34, ' Local-gov', 226296, ' Bachelors', 13, ' Married-civ-spouse', ' Protective-serv', ' Husband', ' White', ' Male', 0, 0, 40, ' USA', ' >50K'),
 (95, 29, ' Local-gov', 115585, ' Some-college', 10, ' Never-married', ' Handlers-cleaners', ' Not-in-family', ' White', ' Male', 0, 0, 50, ' USA', 'less than 50K'),
 (96, 48, ' Self-emp-not-inc', 191277, ' Doctorate', 16, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 0, 1902, 60, ' USA', ' >50K'),
 (97, 37, ' Private', 202683, ' Some-college', 10, ' Married-civ-spouse', ' Sales', ' Husband', ' White', ' Male', 0, 0, 48, ' USA', ' >50K'),
 (99, 32, ' Federal-gov', 249409, ' HS-grad', 9, ' Never-married', ' Other-service', ' Own-child', ' Black', ' Male', 0, 0, 40, ' USA', 'less than 50K'),
 (100, 76, ' Private', 124191, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 0, 40, ' USA', ' >50K'),
 (101, 44, ' Private', 198282, ' Bachelors', 13, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 15024, 0, 60, ' USA', ' >50K'),
 (104, 29, ' Private', 103432, ' HS-grad', 9, ' Never-married', ' Craft-repair', ' Not-in-family', ' White', ' Male', 0, 0, 40, ' USA', 'less than 50K'),
 (105, 32, ' Self-emp-inc', 317660, ' HS-grad', 9, ' Married-civ-spouse', ' Craft-repair', ' Husband', ' White', ' Male', 7688, 0, 40, ' USA', ' >50K'),
 (107, 30, ' Private', 194901, ' 11th', 7, ' Never-married', ' Handlers-cleaners', ' Own-child', ' White', ' Male', 0, 0, 40, ' USA', 'less than 50K'),
 (109, 42, ' Private', 124692, ' HS-grad', 9, ' Married-civ-spouse', ' Handlers-cleaners', ' Husband', ' White', ' Male', 0, 0, 40, ' USA', 'less than 50K'),
 (110, 24, ' Private', 432376, ' Bachelors', 13, ' Never-married', ' Sales', ' Other-relative', ' White', ' Male', 0, 0, 40, ' USA', 'less than 50K'),
 (111, 38, ' Private', 65324, ' Prof-school', 15, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 0, 0, 40, ' USA', ' >50K'),
 (112, 56, ' Self-emp-not-inc', 335605, ' HS-grad', 9, ' Married-civ-spouse', ' Other-service', ' Husband', ' White', ' Male', 0, 1887, 50, ' Canada', ' >50K'),
 (115, 53, ' Private', 95647, ' 9th', 5, ' Married-civ-spouse', ' Handlers-cleaners', ' Husband', ' White', ' Male', 0, 0, 50, ' USA', 'less than 50K'),
 (116, 56, ' Self-emp-inc', 303090, ' Some-college', 10, ' Married-civ-spouse', ' Sales', ' Husband', ' White', ' Male', 0, 0, 50, ' USA', 'less than 50K'),
 (117, 49, ' Local-gov', 197371, ' Assoc-voc', 11, ' Married-civ-spouse', ' Craft-repair', ' Husband', ' Black', ' Male', 0, 0, 40, ' USA', ' >50K'),
 (118, 55, ' Private', 247552, ' Some-college', 10, ' Married-civ-spouse', ' Sales', ' Husband', ' White', ' Male', 0, 0, 56, ' USA', 'less than 50K'),
 (119, 22, ' Private', 102632, ' HS-grad', 9, ' Never-married', ' Craft-repair', ' Not-in-family', ' White', ' Male', 0, 0, 41, ' USA', 'less than 50K'),
 (121, 40, ' Private', 118853, ' Bachelors', 13, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 0, 60, ' USA', 'less than 50K'),
 (122, 30, ' Private', 77143, ' Bachelors', 13, ' Never-married', ' Exec-managerial', ' Own-child', ' Black', ' Male', 0, 0, 40, ' Germany', 'less than 50K'),
 (123, 29, ' State-gov', 267989, ' Bachelors', 13, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 0, 0, 50, ' USA', ' >50K'),
 (124, 19, ' Private', 301606, ' Some-college', 10, ' Never-married', ' Other-service', ' Own-child', ' Black', ' Male', 0, 0, 35, ' USA', 'less than 50K'),
 (127, 31, ' Private', 114937, ' Assoc-acdm', 12, ' Married-civ-spouse', ' Adm-clerical', ' Husband', ' White', ' Male', 0, 0, 40, ' USA', ' >50K'),
 (128, 35, ' ?', 129305, ' HS-grad', 9, ' Married-civ-spouse', ' ?', ' Husband', ' White', ' Male', 0, 0, 40, ' USA', 'less than 50K'),
 (129, 39, ' Private', 365739, ' Some-college', 10, ' Divorced', ' Craft-repair', ' Not-in-family', ' White', ' Male', 0, 0, 40, ' USA', 'less than 50K'),
 (132, 38, ' Self-emp-not-inc', 120985, ' HS-grad', 9, ' Married-civ-spouse', ' Craft-repair', ' Husband', ' White', ' Male', 4386, 0, 35, ' USA', 'less than 50K'),
 (133, 37, ' Private', 254202, ' Bachelors', 13, ' Married-civ-spouse', ' Sales', ' Husband', ' White', ' Male', 0, 0, 50, ' USA', 'less than 50K'),
 (135, 38, ' Federal-gov', 125933, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 0, 0, 40, ' Iran', ' >50K'),
 (136, 43, ' Self-emp-not-inc', 56920, ' HS-grad', 9, ' Married-civ-spouse', ' Craft-repair', ' Husband', ' White', ' Male', 0, 0, 60, ' USA', 'less than 50K'),
 (138, 20, ' Private', 34310, ' Some-college', 10, ' Never-married', ' Sales', ' Own-child', ' White', ' Male', 0, 0, 20, ' USA', 'less than 50K'),
 (139, 49, ' Private', 81973, ' Some-college', 10, ' Married-civ-spouse', ' Craft-repair', ' Husband', ' Asian-Pac-Islander', ' Male', 0, 0, 40, ' USA', ' >50K'),
 (140, 61, ' Self-emp-inc', 66614, ' HS-grad', 9, ' Married-civ-spouse', ' Craft-repair', ' Husband', ' White', ' Male', 0, 0, 40, ' USA', 'less than 50K'),
 (142, 19, ' Private', 316868, ' Some-college', 10, ' Never-married', ' Other-service', ' Own-child', ' White', ' Male', 0, 0, 30, ' Mexico', 'less than 50K'),
 (144, 70, ' Private', 105376, ' Some-college', 10, ' Never-married', ' Tech-support', ' Other-relative', ' White', ' Male', 0, 0, 40, ' USA', 'less than 50K'),
 (146, 22, ' Private', 175374, ' Some-college', 10, ' Married-civ-spouse', ' Other-service', ' Husband', ' White', ' Male', 0, 0, 24, ' USA', 'less than 50K'),
 (148, 64, ' Private', 181232, ' 11th', 7, ' Married-civ-spouse', ' Craft-repair', ' Husband', ' White', ' Male', 0, 2179, 40, ' USA', 'less than 50K'),
 (153, 21, ' Private', 296158, ' HS-grad', 9, ' Never-married', ' Craft-repair', ' Own-child', ' White', ' Male', 0, 0, 35, ' USA', 'less than 50K'),
 (154, 52, ' ?', 252903, ' HS-grad', 9, ' Divorced', ' ?', ' Not-in-family', ' White', ' Male', 0, 0, 45, ' USA', ' >50K'),
 (155, 48, ' Private', 187715, ' HS-grad', 9, ' Married-civ-spouse', ' Craft-repair', ' Husband', ' White', ' Male', 0, 0, 46, ' USA', 'less than 50K'),
 (156, 23, ' Private', 214542, ' Bachelors', 13, ' Never-married', ' Handlers-cleaners', ' Not-in-family', ' White', ' Male', 0, 0, 40, ' USA', 'less than 50K'),
 (157, 71, ' Self-emp-not-inc', 494223, ' Some-college', 10, ' Separated', ' Sales', ' Unmarried', ' Black', ' Male', 0, 1816, 2, ' USA', 'less than 50K'),
 (158, 29, ' Private', 191535, ' HS-grad', 9, ' Divorced', ' Craft-repair', ' Not-in-family', ' White', ' Male', 0, 0, 60, ' USA', 'less than 50K'),
 (159, 42, ' Private', 228456, ' Bachelors', 13, ' Separated', ' Other-service', ' Other-relative', ' Black', ' Male', 0, 0, 50, ' USA', 'less than 50K'),
 (164, 45, ' Self-emp-not-inc', 201080, ' Masters', 14, ' Married-civ-spouse', ' Sales', ' Husband', ' White', ' Male', 0, 0, 40, ' USA', ' >50K'),
 (166, 39, ' Federal-gov', 235485, ' Assoc-acdm', 12, ' Never-married', ' Exec-managerial', ' Not-in-family', ' White', ' Male', 0, 0, 42, ' USA', 'less than 50K'),
 (167, 46, ' State-gov', 102628, ' Masters', 14, ' Widowed', ' Protective-serv', ' Unmarried', ' White', ' Male', 0, 0, 40, ' USA', 'less than 50K'),
 (168, 18, ' Private', 25828, ' 11th', 7, ' Never-married', ' Handlers-cleaners', ' Own-child', ' White', ' Male', 0, 0, 16, ' USA', 'less than 50K'),
 (170, 27, ' Private', 124953, ' HS-grad', 9, ' Never-married', ' Other-service', ' Not-in-family', ' White', ' Male', 0, 1980, 40, ' USA', 'less than 50K'),
 (171, 28, ' State-gov', 175325, ' HS-grad', 9, ' Married-civ-spouse', ' Protective-serv', ' Husband', ' White', ' Male', 0, 0, 40, ' USA', 'less than 50K'),
 (172, 51, ' Private', 96062, ' Some-college', 10, ' Married-civ-spouse', ' Sales', ' Husband', ' White', ' Male', 0, 1977, 40, ' USA', ' >50K'),
 (173, 27, ' Private', 428030, ' Bachelors', 13, ' Never-married', ' Craft-repair', ' Not-in-family', ' White', ' Male', 0, 0, 50, ' USA', 'less than 50K'),
 (174, 28, ' State-gov', 149624, ' Bachelors', 13, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 0, 0, 40, ' USA', ' >50K'),
 (176, 21, ' Private', 312956, ' HS-grad', 9, ' Never-married', ' Craft-repair', ' Own-child', ' Black', ' Male', 0, 0, 40, ' USA', 'less than 50K'),
 (177, 34, ' Private', 483777, ' HS-grad', 9, ' Never-married', ' Handlers-cleaners', ' Not-in-family', ' Black', ' Male', 0, 0, 40, ' USA', 'less than 50K'),
 (178, 18, ' Private', 183930, ' HS-grad', 9, ' Never-married', ' Other-service', ' Own-child', ' White', ' Male', 0, 0, 12, ' USA', 'less than 50K'),
 (179, 33, ' Private', 37274, ' Bachelors', 13, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 0, 0, 65, ' USA', 'less than 50K'),
 (180, 44, ' Local-gov', 181344, ' Some-college', 10, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' Black', ' Male', 0, 0, 38, ' USA', ' >50K'),
 (182, 30, ' Private', 633742, ' Some-college', 10, ' Never-married', ' Craft-repair', ' Not-in-family', ' Black', ' Male', 0, 0, 45, ' USA', 'less than 50K'),
 (183, 40, ' Private', 286370, ' 7th-8th', 4, ' Married-civ-spouse', ' Machine-op-inspct', ' Husband', ' White', ' Male', 0, 0, 40, ' Mexico', ' >50K'),

In [102]:
engine.execute('select * from user_data where race = " White" and sex = " Male"').fetchall()

[(0, 39, ' State-gov', 77516, ' Bachelors', 13, ' Never-married', ' Adm-clerical', ' Not-in-family', ' White', ' Male', 2174, 0, 40, ' United-States', ' <=50K'),
 (1, 50, ' Self-emp-not-inc', 83311, ' Bachelors', 13, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 0, 13, ' United-States', ' <=50K'),
 (2, 38, ' Private', 215646, ' HS-grad', 9, ' Divorced', ' Handlers-cleaners', ' Not-in-family', ' White', ' Male', 0, 0, 40, ' United-States', ' <=50K'),
 (7, 52, ' Self-emp-not-inc', 209642, ' HS-grad', 9, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 0, 45, ' United-States', ' >50K'),
 (9, 42, ' Private', 159449, ' Bachelors', 13, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 5178, 0, 40, ' United-States', ' >50K'),
 (16, 25, ' Self-emp-not-inc', 176756, ' HS-grad', 9, ' Never-married', ' Farming-fishing', ' Own-child', ' White', ' Male', 0, 0, 35, ' United-States', ' <=50K'),
 (17, 32, ' Private', 186824, ' HS-grad', 9, ' Never-married', ' Machine-op-inspct', ' Unmarried', ' White', ' Male', 0, 0, 40, ' United-States', ' <=50K'),
 (18, 38, ' Private', 28887, ' 11th', 7, ' Married-civ-spouse', ' Sales', ' Husband', ' White', ' Male', 0, 0, 50, ' United-States', ' <=50K'),
 (20, 40, ' Private', 193524, ' Doctorate', 16, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 0, 0, 60, ' United-States', ' >50K'),
 (23, 43, ' Private', 117037, ' 11th', 7, ' Married-civ-spouse', ' Transport-moving', ' Husband', ' White', ' Male', 0, 2042, 40, ' United-States', ' <=50K'),
 (25, 56, ' Local-gov', 216851, ' Bachelors', 13, ' Married-civ-spouse', ' Tech-support', ' Husband', ' White', ' Male', 0, 0, 40, ' United-States', ' >50K'),
 (26, 19, ' Private', 168294, ' HS-grad', 9, ' Never-married', ' Craft-repair', ' Own-child', ' White', ' Male', 0, 0, 40, ' United-States', ' <=50K'),
 (28, 39, ' Private', 367260, ' HS-grad', 9, ' Divorced', ' Exec-managerial', ' Not-in-family', ' White', ' Male', 0, 0, 80, ' United-States', ' <=50K'),
 (29, 49, ' Private', 193366, ' HS-grad', 9, ' Married-civ-spouse', ' Craft-repair', ' Husband', ' White', ' Male', 0, 0, 40, ' United-States', ' <=50K'),
 (30, 23, ' Local-gov', 190709, ' Assoc-acdm', 12, ' Never-married', ' Protective-serv', ' Not-in-family', ' White', ' Male', 0, 0, 52, ' United-States', ' <=50K'),
 (32, 45, ' Private', 386940, ' Bachelors', 13, ' Divorced', ' Exec-managerial', ' Own-child', ' White', ' Male', 0, 1408, 40, ' United-States', ' <=50K'),
 (33, 30, ' Federal-gov', 59951, ' Some-college', 10, ' Married-civ-spouse', ' Adm-clerical', ' Own-child', ' White', ' Male', 0, 0, 40, ' United-States', ' <=50K'),
 (35, 48, ' Private', 242406, ' 11th', 7, ' Never-married', ' Machine-op-inspct', ' Unmarried', ' White', ' Male', 0, 0, 40, ' Puerto-Rico', ' <=50K'),
 (36, 21, ' Private', 197200, ' Some-college', 10, ' Never-married', ' Machine-op-inspct', ' Own-child', ' White', ' Male', 0, 0, 40, ' United-States', ' <=50K'),
 (38, 31, ' Private', 84154, ' Some-college', 10, ' Married-civ-spouse', ' Sales', ' Husband', ' White', ' Male', 0, 0, 38, ' ?', ' >50K'),
 (39, 48, ' Self-emp-not-inc', 265477, ' Assoc-acdm', 12, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 0, 0, 40, ' United-States', ' <=50K'),
 (40, 31, ' Private', 507875, ' 9th', 5, ' Married-civ-spouse', ' Machine-op-inspct', ' Husband', ' White', ' Male', 0, 0, 43, ' United-States', ' <=50K'),
 (41, 53, ' Self-emp-not-inc', 88506, ' Bachelors', 13, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 0, 0, 40, ' United-States', ' <=50K'),
 (42, 24, ' Private', 172987, ' Bachelors', 13, ' Married-civ-spouse', ' Tech-support', ' Husband', ' White', ' Male', 0, 0, 50, ' United-States', ' <=50K'),
 (44, 25, ' Private', 289980, ' HS-grad', 9, ' Never-married', ' Handlers-cleaners', ' Not-in-family', ' White', ' Male', 0, 0, 35, ' United-States', ' <=50K'),
 (46, 53, ' Private', 144361, ' HS-grad', 9, ' Married-civ-spouse', ' Machine-op-inspct', ' Husband', ' White', ' Male', 0, 0, 38, ' United-States', ' <=50K'),
 (48, 41, ' State-gov', 101603, ' Assoc-voc', 11, ' Married-civ-spouse', ' Craft-repair', ' Husband', ' White', ' Male', 0, 0, 40, ' United-States', ' <=50K'),
 (49, 29, ' Private', 271466, ' Assoc-voc', 11, ' Never-married', ' Prof-specialty', ' Not-in-family', ' White', ' Male', 0, 0, 43, ' United-States', ' <=50K'),
 (53, 50, ' Federal-gov', 251585, ' Bachelors', 13, ' Divorced', ' Exec-managerial', ' Not-in-family', ' White', ' Male', 0, 0, 55, ' United-States', ' >50K'),
 (54, 47, ' Self-emp-inc', 109832, ' HS-grad', 9, ' Divorced', ' Exec-managerial', ' Not-in-family', ' White', ' Male', 0, 0, 60, ' United-States', ' <=50K'),
 (55, 43, ' Private', 237993, ' Some-college', 10, ' Married-civ-spouse', ' Tech-support', ' Husband', ' White', ' Male', 0, 0, 40, ' United-States', ' >50K'),
 (56, 46, ' Private', 216666, ' 5th-6th', 3, ' Married-civ-spouse', ' Machine-op-inspct', ' Husband', ' White', ' Male', 0, 0, 40, ' Mexico', ' <=50K'),
 (57, 35, ' Private', 56352, ' Assoc-voc', 11, ' Married-civ-spouse', ' Other-service', ' Husband', ' White', ' Male', 0, 0, 40, ' Puerto-Rico', ' <=50K'),
 (58, 41, ' Private', 147372, ' HS-grad', 9, ' Married-civ-spouse', ' Adm-clerical', ' Husband', ' White', ' Male', 0, 0, 48, ' United-States', ' <=50K'),
 (59, 30, ' Private', 188146, ' HS-grad', 9, ' Married-civ-spouse', ' Machine-op-inspct', ' Husband', ' White', ' Male', 5013, 0, 40, ' United-States', ' <=50K'),
 (60, 30, ' Private', 59496, ' Bachelors', 13, ' Married-civ-spouse', ' Sales', ' Husband', ' White', ' Male', 2407, 0, 40, ' United-States', ' <=50K'),
 (61, 32, ' ?', 293936, ' 7th-8th', 4, ' Married-spouse-absent', ' ?', ' Not-in-family', ' White', ' Male', 0, 0, 40, ' ?', ' <=50K'),
 (62, 48, ' Private', 149640, ' HS-grad', 9, ' Married-civ-spouse', ' Transport-moving', ' Husband', ' White', ' Male', 0, 0, 40, ' United-States', ' <=50K'),
 (63, 42, ' Private', 116632, ' Doctorate', 16, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 0, 0, 45, ' United-States', ' >50K'),
 (64, 29, ' Private', 105598, ' Some-college', 10, ' Divorced', ' Tech-support', ' Not-in-family', ' White', ' Male', 0, 0, 58, ' United-States', ' <=50K'),
 (65, 36, ' Private', 155537, ' HS-grad', 9, ' Married-civ-spouse', ' Craft-repair', ' Husband', ' White', ' Male', 0, 0, 40, ' United-States', ' <=50K'),
 (68, 49, ' Self-emp-inc', 191681, ' Some-college', 10, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 0, 50, ' United-States', ' >50K'),
 (69, 25, ' ?', 200681, ' Some-college', 10, ' Never-married', ' ?', ' Own-child', ' White', ' Male', 0, 0, 40, ' United-States', ' <=50K'),
 (70, 19, ' Private', 101509, ' Some-college', 10, ' Never-married', ' Prof-specialty', ' Own-child', ' White', ' Male', 0, 0, 32, ' United-States', ' <=50K'),
 (72, 29, ' Self-emp-not-inc', 162298, ' Bachelors', 13, ' Married-civ-spouse', ' Sales', ' Husband', ' White', ' Male', 0, 0, 70, ' United-States', ' >50K'),
 (73, 23, ' Private', 211678, ' Some-college', 10, ' Never-married', ' Machine-op-inspct', ' Not-in-family', ' White', ' Male', 0, 0, 40, ' United-States', ' <=50K'),
 (74, 79, ' Private', 124744, ' Some-college', 10, ' Married-civ-spouse', ' Prof-specialty', ' Other-relative', ' White', ' Male', 0, 0, 20, ' United-States', ' <=50K'),
 (75, 27, ' Private', 213921, ' HS-grad', 9, ' Never-married', ' Other-service', ' Own-child', ' White', ' Male', 0, 0, 40, ' Mexico', ' <=50K'),
 (76, 40, ' Private', 32214, ' Assoc-acdm', 12, ' Married-civ-spouse', ' Adm-clerical', ' Husband', ' White', ' Male', 0, 0, 40, ' United-States', ' <=50K'),
 (77, 67, ' ?', 212759, ' 10th', 6, ' Married-civ-spouse', ' ?', ' Husband', ' White', ' Male', 0, 0, 2, ' United-States', ' <=50K'),
 (79, 31, ' Local-gov', 125927, ' 7th-8th', 4, ' Married-civ-spouse', ' Farming-fishing', ' Husband', ' White', ' Male', 0, 0, 40, ' United-States', ' <=50K'),
 (80, 18, ' Private', 446839, ' HS-grad', 9, ' Never-married', ' Sales', ' Not-in-family', ' White', ' Male', 0, 0, 30, ' United-States', ' <=50K'),
 (81, 52, ' Private', 276515, ' Bachelors', 13, ' Married-civ-spouse', ' Other-service', ' Husband', ' White', ' Male', 0, 0, 40, ' Cuba', ' <=50K'),
 (83, 59, ' Private', 159937, ' HS-grad', 9, ' Married-civ-spouse', ' Sales', ' Husband', ' White', ' Male', 0, 0, 48, ' United-States', ' <=50K'),
 (86, 49, ' Local-gov', 268234, ' HS-grad', 9, ' Married-civ-spouse', ' Protective-serv', ' Husband', ' White', ' Male', 0, 0, 40, ' United-States', ' >50K'),
 (87, 33, ' Private', 202051, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 0, 0, 50, ' United-States', ' <=50K'),
 (88, 30, ' Private', 54334, ' 9th', 5, ' Never-married', ' Sales', ' Not-in-family', ' White', ' Male', 0, 0, 40, ' United-States', ' <=50K'),
 (90, 57, ' Private', 249977, ' Assoc-voc', 11, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 0, 0, 40, ' United-States', ' <=50K'),
 (94, 34, ' Local-gov', 226296, ' Bachelors', 13, ' Married-civ-spouse', ' Protective-serv', ' Husband', ' White', ' Male', 0, 0, 40, ' United-States', ' >50K'),
 (95, 29, ' Local-gov', 115585, ' Some-college', 10, ' Never-married', ' Handlers-cleaners', ' Not-in-family', ' White', ' Male', 0, 0, 50, ' United-States', ' <=50K'),
 (96, 48, ' Self-emp-not-inc', 191277, ' Doctorate', 16, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 0, 1902, 60, ' United-States', ' >50K'),
 (97, 37, ' Private', 202683, ' Some-college', 10, ' Married-civ-spouse', ' Sales', ' Husband', ' White', ' Male', 0, 0, 48, ' United-States', ' >50K'),
 (100, 76, ' Private', 124191, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 0, 40, ' United-States', ' >50K'),
 (101, 44, ' Private', 198282, ' Bachelors', 13, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 15024, 0, 60, ' United-States', ' >50K'),
 (104, 29, ' Private', 103432, ' HS-grad', 9, ' Never-married', ' Craft-repair', ' Not-in-family', ' White', ' Male', 0, 0, 40, ' United-States', ' <=50K'),
 (105, 32, ' Self-emp-inc', 317660, ' HS-grad', 9, ' Married-civ-spouse', ' Craft-repair', ' Husband', ' White', ' Male', 7688, 0, 40, ' United-States', ' >50K'),
 (107, 30, ' Private', 194901, ' 11th', 7, ' Never-married', ' Handlers-cleaners', ' Own-child', ' White', ' Male', 0, 0, 40, ' United-States', ' <=50K'),
 (109, 42, ' Private', 124692, ' HS-grad', 9, ' Married-civ-spouse', ' Handlers-cleaners', ' Husband', ' White', ' Male', 0, 0, 40, ' United-States', ' <=50K'),
 (110, 24, ' Private', 432376, ' Bachelors', 13, ' Never-married', ' Sales', ' Other-relative', ' White', ' Male', 0, 0, 40, ' United-States', ' <=50K'),
 (111, 38, ' Private', 65324, ' Prof-school', 15, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 0, 0, 40, ' United-States', ' >50K'),
 (112, 56, ' Self-emp-not-inc', 335605, ' HS-grad', 9, ' Married-civ-spouse', ' Other-service', ' Husband', ' White', ' Male', 0, 1887, 50, ' Canada', ' >50K'),
 (115, 53, ' Private', 95647, ' 9th', 5, ' Married-civ-spouse', ' Handlers-cleaners', ' Husband', ' White', ' Male', 0, 0, 50, ' United-States', ' <=50K'),
 (116, 56, ' Self-emp-inc', 303090, ' Some-college', 10, ' Married-civ-spouse', ' Sales', ' Husband', ' White', ' Male', 0, 0, 50, ' United-States', ' <=50K'),
 (118, 55, ' Private', 247552, ' Some-college', 10, ' Married-civ-spouse', ' Sales', ' Husband', ' White', ' Male', 0, 0, 56, ' United-States', ' <=50K'),
 (119, 22, ' Private', 102632, ' HS-grad', 9, ' Never-married', ' Craft-repair', ' Not-in-family', ' White', ' Male', 0, 0, 41, ' United-States', ' <=50K'),
 (121, 40, ' Private', 118853, ' Bachelors', 13, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 0, 60, ' United-States', ' <=50K'),
 (123, 29, ' State-gov', 267989, ' Bachelors', 13, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 0, 0, 50, ' United-States', ' >50K'),
 (127, 31, ' Private', 114937, ' Assoc-acdm', 12, ' Married-civ-spouse', ' Adm-clerical', ' Husband', ' White', ' Male', 0, 0, 40, ' United-States', ' >50K'),
 (128, 35, ' ?', 129305, ' HS-grad', 9, ' Married-civ-spouse', ' ?', ' Husband', ' White', ' Male', 0, 0, 40, ' United-States', ' <=50K'),
 (129, 39, ' Private', 365739, ' Some-college', 10, ' Divorced', ' Craft-repair', ' Not-in-family', ' White', ' Male', 0, 0, 40, ' United-States', ' <=50K'),
 (132, 38, ' Self-emp-not-inc', 120985, ' HS-grad', 9, ' Married-civ-spouse', ' Craft-repair', ' Husband', ' White', ' Male', 4386, 0, 35, ' United-States', ' <=50K'),
 (133, 37, ' Private', 254202, ' Bachelors', 13, ' Married-civ-spouse', ' Sales', ' Husband', ' White', ' Male', 0, 0, 50, ' United-States', ' <=50K'),
 (135, 38, ' Federal-gov', 125933, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 0, 0, 40, ' Iran', ' >50K'),
 (136, 43, ' Self-emp-not-inc', 56920, ' HS-grad', 9, ' Married-civ-spouse', ' Craft-repair', ' Husband', ' White', ' Male', 0, 0, 60, ' United-States', ' <=50K'),
 (138, 20, ' Private', 34310, ' Some-college', 10, ' Never-married', ' Sales', ' Own-child', ' White', ' Male', 0, 0, 20, ' United-States', ' <=50K'),
 (140, 61, ' Self-emp-inc', 66614, ' HS-grad', 9, ' Married-civ-spouse', ' Craft-repair', ' Husband', ' White', ' Male', 0, 0, 40, ' United-States', ' <=50K'),
 (142, 19, ' Private', 316868, ' Some-college', 10, ' Never-married', ' Other-service', ' Own-child', ' White', ' Male', 0, 0, 30, ' Mexico', ' <=50K'),
 (144, 70, ' Private', 105376, ' Some-college', 10, ' Never-married', ' Tech-support', ' Other-relative', ' White', ' Male', 0, 0, 40, ' United-States', ' <=50K'),
 (146, 22, ' Private', 175374, ' Some-college', 10, ' Married-civ-spouse', ' Other-service', ' Husband', ' White', ' Male', 0, 0, 24, ' United-States', ' <=50K'),
 (148, 64, ' Private', 181232, ' 11th', 7, ' Married-civ-spouse', ' Craft-repair', ' Husband', ' White', ' Male', 0, 2179, 40, ' United-States', ' <=50K'),
 (153, 21, ' Private', 296158, ' HS-grad', 9, ' Never-married', ' Craft-repair', ' Own-child', ' White', ' Male', 0, 0, 35, ' United-States', ' <=50K'),
 (154, 52, ' ?', 252903, ' HS-grad', 9, ' Divorced', ' ?', ' Not-in-family', ' White', ' Male', 0, 0, 45, ' United-States', ' >50K'),
 (155, 48, ' Private', 187715, ' HS-grad', 9, ' Married-civ-spouse', ' Craft-repair', ' Husband', ' White', ' Male', 0, 0, 46, ' United-States', ' <=50K'),
 (156, 23, ' Private', 214542, ' Bachelors', 13, ' Never-married', ' Handlers-cleaners', ' Not-in-family', ' White', ' Male', 0, 0, 40, ' United-States', ' <=50K'),
 (158, 29, ' Private', 191535, ' HS-grad', 9, ' Divorced', ' Craft-repair', ' Not-in-family', ' White', ' Male', 0, 0, 60, ' United-States', ' <=50K'),
 (164, 45, ' Self-emp-not-inc', 201080, ' Masters', 14, ' Married-civ-spouse', ' Sales', ' Husband', ' White', ' Male', 0, 0, 40, ' United-States', ' >50K'),
 (166, 39, ' Federal-gov', 235485, ' Assoc-acdm', 12, ' Never-married', ' Exec-managerial', ' Not-in-family', ' White', ' Male', 0, 0, 42, ' United-States', ' <=50K'),
 (167, 46, ' State-gov', 102628, ' Masters', 14, ' Widowed', ' Protective-serv', ' Unmarried', ' White', ' Male', 0, 0, 40, ' United-States', ' <=50K'),
 (168, 18, ' Private', 25828, ' 11th', 7, ' Never-married', ' Handlers-cleaners', ' Own-child', ' White', ' Male', 0, 0, 16, ' United-States', ' <=50K'),
 (170, 27, ' Private', 124953, ' HS-grad', 9, ' Never-married', ' Other-service', ' Not-in-family', ' White', ' Male', 0, 1980, 40, ' United-States', ' <=50K'),
 (171, 28, ' State-gov', 175325, ' HS-grad', 9, ' Married-civ-spouse', ' Protective-serv', ' Husband', ' White', ' Male', 0, 0, 40, ' United-States', ' <=50K'),
 (172, 51, ' Private', 96062, ' Some-college', 10, ' Married-civ-spouse', ' Sales', ' Husband', ' White', ' Male', 0, 1977, 40, ' United-States', ' >50K'),
 (173, 27, ' Private', 428030, ' Bachelors', 13, ' Never-married', ' Craft-repair', ' Not-in-family', ' White', ' Male', 0, 0, 50, ' United-States', ' <=50K'),
 (174, 28, ' State-gov', 149624, ' Bachelors', 13, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 0, 0, 40, ' United-States', ' >50K'),
 (178, 18, ' Private', 183930, ' HS-grad', 9, ' Never-married', ' Other-service', ' Own-child', ' White', ' Male', 0, 0, 12, ' United-States', ' <=50K'),
 (179, 33, ' Private', 37274, ' Bachelors', 13, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 0, 0, 65, ' United-States', ' <=50K'),
 (183, 40, ' Private', 286370, ' 7th-8th', 4, ' Married-civ-spouse', ' Machine-op-inspct', ' Husband', ' White', ' Male', 0, 0, 40, ' Mexico', ' >50K'),
 (184, 37, ' Federal-gov', 29054, ' Some-college', 10, ' Married-civ-spouse', ' Adm-clerical', ' Husband', ' White', ' Male', 0, 0, 42, ' United-States', ' >50K'),
 (189, 58, ' State-gov', 109567, ' Doctorate', 16, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 0, 0, 1, ' United-States', ' >50K'),
 (191, 24, ' Private', 159567, ' Some-college', 10, ' Married-civ-spouse', ' Machine-op-inspct', ' Husband', ' White', ' Male', 0, 0, 40, ' United-States', ' <=50K'),
 (193, 47, ' Private', 120939, ' Some-college', 10, ' Married-civ-spouse', ' Tech-support', ' Husband', ' White', ' Male', 0, 0, 45, ' United-States', ' <=50K'),
 (194, 41, ' Federal-gov', 130760, ' Bachelors', 13, ' Married-civ-spouse', ' Tech-support', ' Husband', ' White', ' Male', 0, 0, 24, ' United-States', ' <=50K'),
 (195, 23, ' Private', 197387, ' 5th-6th', 3, ' Married-civ-spouse', ' Transport-moving', ' Other-relative', ' White', ' Male', 0, 0, 40, ' Mexico', ' <=50K'),
 (196, 36, ' Private', 99374, ' Some-college', 10, ' Divorced', ' Craft-repair', ' Not-in-family', ' White', ' Male', 0, 0, 40, ' United-States', ' <=50K'),
 (198, 35, ' Private', 138992, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Other-relative', ' White', ' Male', 7298, 0, 40, ' United-States', ' >50K'),
 (199, 24, ' Self-emp-not-inc', 32921, ' HS-grad', 9, ' Never-married', ' Sales', ' Not-in-family', ' White', ' Male', 0, 0, 40, ' United-States', ' <=50K'),
 (201, 19, ' ?', 170653, ' HS-grad', 9, ' Never-married', ' ?', ' Own-child', ' White', ' Male', 0, 0, 40, ' Italy', ' <=50K'),
 (202, 51, ' Private', 259323, ' Bachelors', 13, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 0, 50, ' United-States', ' >50K'),
 (207, 35, ' Private', 36270, ' HS-grad', 9, ' Divorced', ' Craft-repair', ' Not-in-family', ' White', ' Male', 0, 0, 60, ' United-States', ' <=50K'),
 (211, 37, ' Private', 208358, ' HS-grad', 9, ' Married-civ-spouse', ' Craft-repair', ' Husband', ' White', ' Male', 0, 0, 40, ' United-States', ' >50K'),
 (214, 54, ' Self-emp-inc', 125417, ' 7th-8th', 4, ' Married-civ-spouse', ' Machine-op-inspct', ' Husband', ' White', ' Male', 0, 0, 40, ' United-States', ' >50K'),
 (217, 38, ' Private', 182609, ' Bachelors', 13, ' Married-civ-spouse', ' Sales', ' Husband', ' White', ' Male', 0, 0, 50, ' Poland', ' <=50K'),
 (218, 45, ' Private', 109434, ' Bachelors', 13, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 0, 0, 55, ' United-States', ' <=50K'),
 (219, 25, ' Private', 255004, ' 10th', 6, ' Never-married', ' Craft-repair', ' Not-in-family', ' White', ' Male', 0, 0, 40, ' United-States', ' <=50K'),
 (220, 31, ' Private', 197860, ' Some-college', 10, ' Married-civ-spouse', ' Handlers-cleaners', ' Husband', ' White', ' Male', 0, 0, 40, ' United-States', ' <=50K'),
 (221, 64, ' ?', 187656, ' 1st-4th', 2, ' Divorced', ' ?', ' Not-in-family', ' White', ' Male', 0, 0, 40, ' United-States', ' <=50K'),

### 5. Write two function queries

In [115]:
engine.execute('select age, count(*) from user_data group by age').fetchall()

[(17, 395),
 (18, 550),
 (19, 712),
 (20, 753),
 (21, 720),
 (22, 765),
 (23, 877),
 (24, 798),
 (25, 841),
 (26, 785),
 (27, 835),
 (28, 867),
 (29, 813),
 (30, 861),
 (31, 888),
 (32, 828),
 (33, 875),
 (34, 886),
 (35, 876),
 (36, 898),
 (37, 858),
 (38, 827),
 (39, 816),
 (40, 794),
 (41, 808),
 (42, 780),
 (43, 770),
 (44, 724),
 (45, 734),
 (46, 737),
 (47, 708),
 (48, 543),
 (49, 577),
 (50, 602),
 (51, 595),
 (52, 478),
 (53, 464),
 (54, 415),
 (55, 419),
 (56, 366),
 (57, 358),
 (58, 366),
 (59, 355),
 (60, 312),
 (61, 300),
 (62, 258),
 (63, 230),
 (64, 208),
 (65, 178),
 (66, 150),
 (67, 151),
 (68, 120),
 (69, 108),
 (70, 89),
 (71, 72),
 (72, 67),
 (73, 64),
 (74, 51),
 (75, 45),
 (76, 46),
 (77, 29),
 (78, 23),
 (79, 22),
 (80, 22),
 (81, 20),
 (82, 12),
 (83, 6),
 (84, 10),
 (85, 3),
 (86, 1),
 (87, 1),
 (88, 3),
 (90, 43)]

In [116]:
engine.execute('select sex, avg(age) from user_data group by sex').fetchall()

[(' Female', 36.85823043357163), (' Male', 39.43354749885268)]